<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" [(ngModel)]="employee.firstName" 
            class="form-control" 
            id="firstName" 
            name="firstName" 
            placeholder="Enter your first name"
            required #firstName="ngModel">
        <div [hidden]="!firstName.pristine" class="alert alert-danger">First name is required</div>
          <label for="lastName">Last Name</label>
          <input type="text" [(ngModel)]="employee.lastName" 
            class="form-control" 
            id="lastName" 
            name="lastName" 
            placeholder="Enter your last name"
            required #lastName="ngModel">
        </div> 
        <div [hidden]="!lastName.pristine" class="alert alert-danger">Last name is required</div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" [(ngModel)]="employee.role" 
            class="form-control" 
            id="role" 
            name="role" 
            placeholder="Enter your role"
            required #role="ngModel">
          <div [hidden]="!role.pristine" class="alert alert-danger">Role is required</div>
        </div>
        <button type="submit" [disabled]="!employeeForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  
